---
import { Icon } from "astro-icon/components";

const { title, logos = [] } = Astro.props;
---

<section class="py-12">
  <div class="mx-auto max-w-5xl">
    <h2 class="text-center text-muted-foreground">{title}</h2>
    <div class="mt-10 flex flex-wrap items-center justify-center gap-8 md:gap-20">
      {
        logos.map((logo) => (
          <Icon
            class="size-8 md:size-12"
            name={logo.icon}
            title={logo.label || undefined}
          />
        ))
      }
    </div>
  </div>
</section>
